body{
    display: flex;
    font-family: 'Open Sans',Arial,sans-serif;
    text-decoration: none;

}

section{
    padding-top: 20px;
}

header{
    font-size: 30px;
}

#navbar{
    position: fixed;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 3px gray solid;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-link{
    margin: 10px 2.5px 10px 17.5px;
    text-decoration: none;
    color: gray;
    border-top: 2px gray solid;
    padding-top: 20px;

}

code{
    margin: 15px 0px;
}

.code-block{
    background-color: rgb(243, 236, 238);
}

main{
   width: 80%;
   padding-left: 20px;
   margin-left: 25%;
}
